*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: tomato;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
}

main {
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem
}

table{
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: tomato;
  color: white;
}

td {
    text-align: center;
}



/* Utility */
.btn {
    border: none;
    background-color: tomato;
    border-radius: 4px;
    padding: 0 0.24rem;
    font: inherit;
    cursor: pointer;
}