*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: tomato;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    line-height: 1.6;
}

main {
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem
}

table{
    width: 100%;
}

table th {
    font-size: 0.8rem;
    font-variant:small-caps
}
